* {
  margin: 0;
  padding: 0;
}
.logo {
  margin-top: -7px !important;
}

.content-part {
  margin: 15px auto !important;
  margin-top: 15px !important;
}

.card-images {
  height: 300px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  width:75% !important;
  margin: auto;
}